# Auth
AUTH_URL=http://localhost:3000
AUTH_SECRET=your-secret-key-min-32-chars-long # Generate with: openssl rand -base64 32

# GitHub OAuth
AUTH_GITHUB_ID=Ov23li0AghVx0GGNzgo7
AUTH_GITHUB_SECRET=6a101af4f6eb6a6199b850fe23689b8049c48acb